/* Nav bar */
.upper-nav {
    background: #002145;
    width: 100%;
    height: 120px;
    overflow-x: hidden;
}
.upper-nav-logo {
    display: block;
    background-image: url("/static/images/ubc-logo.png");
    background-repeat: no-repeat;
    width: auto;
    height: 80px;
    filter: brightness(0) invert(1); /* Makes the image white */
    position: relative;
    top: 20px;
    left: 10%;
    background-size: contain;
}
.lower-nav {
    background: #b0b58c;
    width: 100%;
    height: 60px;    
    margin-bottom: 40px;
    box-shadow: inset 0 -10px 10px -10px #222;
    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}
.lower-nav-title {
    color: #fff;
    text-shadow: 1px 1px #222;
    font-size: 1.6em;
    text-align: left;
    position: relative;
    left: 10%;
    line-height: 60px;
    text-decoration: none;
}

@media only screen and (max-width: 760px) {
    .upper-nav-logo {
        background-image: url("/static/images/ubc-mobile-logo.png");
    }
}

@media only screen and (max-width: 500px) {
    .upper-nav {
        height: 90px;
    }
    .upper-nav-logo {
        height: 50px;
    }
    .lower-nav {
        height: 50px;    
        margin-bottom: 40px;
    }
    .lower-nav-title {
        font-size: 1em;
        line-height: 50px;
    }
}
/* Nav bar ^^^ */

/* Footer */
footer {
    background: #002145;
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 0;
}

.footer-logo-container {
    position: relative;
    left: 0px;
    width: 300px;
    height: 100px;
    left: 10%;
}

.footer-logo {
    display: block;
    background-image: url("/static/images/ubc-logo.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    filter: brightness(0) invert(1); /* Makes the image white */
    position: relative;
    top: 30px;
    background-size: contain;
}

.footer-credit {
    position: relative;
    margin-left: 10%;
    color: #fff;
    top: 40px;
    text-decoration: none;
}

@media only screen and (max-width: 500px) {
    .footer-logo-container {
        width: 200px;
        height: 100px;
    }
    .footer-logo {
        background-image: url("/static/images/ubc-mobile-logo.png");

    }
    .footer-credit {
        font-size: 0.8em;
        top: 50px;
    }
}
/* Footer ^^^ */