<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <title>LFS Mass Mailer</title>
        <!-- Page icon -->
        <link rel="shortcut icon" href="https://cdn.ubc.ca/clf/7.0.4/img/favicon.ico">

        <!-- CSS file -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

        <!-- Rich text editor -->
        <link rel="stylesheet" href={{ url_for('static', filename='richtexteditor/rte_theme_default.css') }} />
        <script type="text/javascript" src={{ url_for('static', filename='richtexteditor/rte.js') }}></script>
        <script type="text/javascript" src={{ url_for('static', filename='richtexteditor/plugins/all_plugins.js') }}></script>
    </head>

    <body>
        <div class="site-container">
            {% include 'navigationbar.html' %}

            <div class="content-container">
                <h1>LFS Mass Mailer</h1>
                
                <div id="uploadFileSection">
                    <ul>
                        <li>Only .csv files will be accepted</li>
                        <li>A file must contain headers, and "Email" without the quotation marks must be one of the headers</li>
                        <li>A template .CSV file can be found <a href="{{ url_for('static', filename="template.csv") }}">here</a></li>
                    </ul>

                    <form id="uploadTableForm">
                        <input type="file" name="filename" id="uploadTable" accept=".csv">
                        <input type="submit">
                    </form>
                </div>

                <div class="writeEmailSection" id="writeEmailSection" style="display: none;">
                <!-- <div class="writeEmailSection" id="writeEmailSection"> -->

                    <div class="fileSummaryContainer">
                        <div class="fileSummaryTextContainer">
                            <p class="summaryTitle">Summary of Uploaded File</p>
                            <p>Total rows: <span id="fileRows"></span></p>
                            <p>Headers: <span id="fileHeaders"></span></p>
                            <p>Valid emails: <span id="fileValidEmails"></span></p>
                            <p>Invalid emails: <span id="fileInvalidEmails"></span></p>
                        </div>
                        <table class="contactTable" id="contactTable">
                            <p class="rowsDisplayedText">Rows <span id="rowsDisplayed">0</span> out of <span id="totalRows">0</span> displayed...</p>
                            <tr id="columns"></tr>
                        </table>
                    </div>

                    <div class="writeEmailContainer">
                        <h2>Write Your Email</h2>
                        <p>Please use the following Header Replacements. Those variables will be replaced by actual values while sending an Email.<br/>Header Replacements:</p>
                        <ul id="variablesList"></ul>
                        <input id="subjectForm" class="subjectForm" placeholder="Subject" onchange="createEmailPreview()">
                        <!-- Rich text editor -->
                        <div id="richTextEditor"></div>
                        <!-- Rich text editor ^^^ -->

                        <p>Note: Uploaded images may not display properly on some web browsers!</p>
                        <button class="sendEmailButton" onclick="previewEmail(true)">Preview email</button>
                        <button class="sendEmailButton" id="sendEmailsBTN" onclick="sendEmails()">Send emails</button>
                    </div>
                    
                    <div class="previewEmailTint" id="previewEmailTint" onclick="previewEmail(false)" style="display:none;"></div>

                    <div class="previewEmailContainer" id="previewEmailContainer" style="display:none;">
                        <h2 class="emailPreviewTitle">Email Preview:<span onclick="previewEmail(false)" class="closePreviewX">&#10006;</span></h2>
                        <div class="emailPreview">
                            <div class="previewSubject">
                                <p><b>Subject: </b><span id="subjectPreview"></span></p>
                            </div>
                            <div class="previewMessage" id="messagePreview"></div>
                        </div>
                    </div>
                </div>

                <div class="fullLoadingContainer" id="fullLoadingContainer" style="display: none;">
                    <div class="popupTint"></div>
                    <div class="loadingContainer">
                        <h2 class="loadingTitle">Sending emails, please wait...</h2>
                        <div class="loadingCircle"></div>
                    </div>                    
                </div>

                <div class="resultsContainer" id="resultsContainer" style="display: none;">
                <!-- <div class="fullResultsContainer" id="fullResultsContainer"> -->
                    <div class="popupTint"></div>
                    <div class="resultsContainer">
                        <button class="resultsDoneBTN" onclick="window.location.reload();">Done</button>

                        <table class="resultsTable" id="failedResults">
                            <p class="resultsDisplayedText">Failed to send emails to:</p>
                        </table>

                        <table class="resultsTable" id="successfulResults">
                            <p class="resultsDisplayedText">Successfully sent emails to:</p>
                        </table>
                    </div>                    
                </div>

                <!-- Login -->
                <!-- <div class="fullLoginContainer" id="fullLoginContainer" style="display: none;"> -->
                    <div class="fullLoginContainer" id="fullLoginContainer">
                        <div class="popupTint"></div>
                        <div class="loginContainer">
                            <h1>Login</h1>
                            <form>
                                <label>CWL:</label>
                                <input placeholder="xxxx00" id="cwl">
                                </br></br>
                                <label>Password:</label>
                                <input placeholder="*******" id="password">
                                </br></br>
                                <button onclick="login()" type="button">Login</button>
                            </form>
                        </div>                    
                    </div>
                <!-- Login ^^^ -->
            </div>

            {% include 'footer.html' %}
        </div>
    </body>
</html>

<!-- JS API for reading .csv files -->
<script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
<!-- JavaScript file for uploading table and displaying it's next steps  -->
<script src="{{ url_for('static', filename='javascript/uploadTable.js') }}"></script>
<!-- Preview email code -->
<script src="{{ url_for('static', filename='javascript/createPreview.js') }}"></script>
<!-- Ajax - for sending js data to flask async -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

<script>
	var textEditor = new RichTextEditor("#richTextEditor");
    textEditor.attachEvent("change", function () {      
        console.log(textEditor.getHTMLCode())    
        createEmailPreview()
    });   

    function createEmailPreview() {
        const subject = document.getElementById("subjectForm").value;
        const message = textEditor.getHTMLCode();

        // Insert preview variables
        var modifiedSubject = subject
        var modifiedMessage = message
        const previewRecipient = getPreviewData()
        for (const variable of getVarList()) {
            // If user adds a variable into their subject or message, replace it with the actual value
            const insertedVar = `%${variable.replace(' ', '_').toUpperCase()}%`
            console.log(insertedVar)
            modifiedSubject = modifiedSubject.replaceAll(insertedVar, previewRecipient[variable])
            modifiedMessage = modifiedMessage.replaceAll(insertedVar, previewRecipient[variable])
        }

        document.getElementById("subjectPreview").innerHTML = modifiedSubject;
        document.getElementById("messagePreview").innerHTML = modifiedMessage;
    }

    function login() {
        userLogin = {
            cwl: document.getElementById("cwl").value,
            password: document.getElementById("password").value
        }
        $.ajax({
            type: "POST",
            url: "/login",
            data: userLogin,
            dataType: "json",
            success: function(response) {
                console.log(response.output);
            }
        })
    }

    function sendEmails() {
        // disables the button to prevent accidental double clicks
        document.getElementById("sendEmailsBTN").disabled = true;
        document.getElementById("fullLoadingContainer").style.display = "block";
        // renders loading screen
        emailContent = {
            subject:document.getElementById("subjectForm").value,
            HTMLemailContent:textEditor.getHTMLCode(),
            receivers: getCSVData(),
            varList: getVarList()
        }
        console.log(emailContent)

        $.ajax({
                type: "POST",
                url: "/sendemails",
                data: emailContent,
                dataType: "json",
                success: function(response) {
                    document.getElementById("fullLoadingContainer").style.display = "none";
                    buildResults(response.output["receivers"], response.output["failedReceivers"])
                }
        });
    }
</script>
